.idea
.DS_Store

# wp-config
app/wp-config.php

# uploads
app/wp-content/uploads/

# languages
app/wp-content/languages/

# log files
*.log

# htaccess
app/.htaccess

# vendor
/vendor/

# ignore node dependency directories
node_modules/

# ignore log files and databases
*.log
*.sql
*.sqlite
