.footer {
    background-color: #fafafa;

    &__content {
        width: 100%;
        margin: 0 auto;
        padding: 60px 40px 100px 40px;
        max-width: 1680px;
        @include flex(row, flex-start, flex-start, wrap, 100px);
    }

    /*
     Footer partners section
    */
    &__partners {
        @include flex(column, flex-start, flex-start, nowrap, 20px);
    }

    &__partnersTitle {
        font-weight: 500;
        margin: 0 0 20px 0;
        font-size: calc(20px + (24 - 20) * ((100vw - 320px) / (1920 - 320)));
        line-height: calc(28px + (36 - 28) * ((100vw - 320px) / (1920 - 320)));
    }

    &__partnersLink {
        color: #000;
        height: 50px;
        font-size: 16px;
        line-height: 24px;
        @include flex(row, center, flex-start, wrap, 10px);

        &:hover {
            .footer__partnersLogo {
                margin: 0 6px 0 0;
                transform: scale(1.1);
            }
        }

        &:active {
            .footer__partnersLogo {
                margin: 0;
                transform: scale(1);
                transition: all 0.2s;
            }
        }
    }

    &__partnersLogo {
        width: auto;
        height: 100%;
        object-fit: contain;
        transition: all 0.3s;

        &:hover {
            transform: scale(1.1);
            filter: drop-shadow(4px 4px 10px rgba(33, 150, 243, .3)) drop-shadow(-4px -4px 10px rgba(82, 216, 88, .3));
        }
    }

    &__partnersName {
        transition: all 0.3s;
        
        &:hover {
            text-shadow: 0 4px 10px rgb(0 0 0 / 20%);
        }
    }

    /*
     Footer menu section
    */
    &__menu {
        color: #000;
        font-size: 16px;
        line-height: 24px;
        @include flex(column, flex-start, flex-start, nowrap, 20px);

        a {
            color: #000;
            font-size: 16px;
            line-height: 24px;
            position: relative;
            transition: all 0.3s ease;
            text-decoration: none;

            &:hover {
                transform: translate(0, -6px);

                &::after {
                    width: 100%;
                }
            }

            &:active {
                transition: all 0.2s ease;
                transform: translate(0, 0px);

                &::after {
                    bottom: -2px;
                    transition: all 0.2s ease;
                }
            }

            &::after {
                left: 0;
                width: 0;
                content: '';
                height: 2px;
                bottom: -10px;
                position: absolute;
                transition: all 0.3s;
                background-color: $green-color;
            }
        }
    }

    &__menuTitle {
        font-weight: 500;
        margin: 0 0 20px 0;
        font-size: calc(20px + (24 - 20) * ((100vw - 320px) / (1920 - 320)));
        line-height: calc(28px + (36 - 28) * ((100vw - 320px) / (1920 - 320)));
    }

    /*
     Footer copyright section
    */
    &__copyright {
        padding: 20px 0;
        position: relative;
        color: $green-color;
        @include flex(row, center, center, wrap);

        &:after {
            top: 0;
            left: 50%;
            width: 100%;
            height: 2px;
            content: '';
            max-width: 1600px;
            position: absolute;
            background-color: $green-color;
            transform: translate(-50%, 0%);
        }
    }

    /*
        Media Queries
    */
    @media screen and (max-width: 1024px) {
        &__content {
            gap: 40px 60px;
            padding: 60px 40px;
        }
    }

    @media screen and (max-width: 992px) {
        &__content{
            gap: 40px 0;
            @include flex(row, flex-start, space-between, wrap);
        }
        
        &__partners {
            flex-basis: 48%;
        }
        
        &__menu {
            flex-basis: 48%;
        }
    }

    @media screen and (max-width: 768px) {
        &__content {
            padding: 60px 20px;
        }
    }

    @media screen and (max-width: 600px) {
        &__content {
            @include flex(column, flex-start, flex-start, nowrap, 40px);
        }

        &__partners {
            flex-basis: 100%;
        }

        &__partnersTitle {
            margin: 0;
        }
        
        &__menu {
            flex-basis: 100%;
        }

        &__menuTitle {
            margin: 0;
        }
    }
}