.footer {
    background-color: #fafafa;

    &__content {
        width: 100%;
        margin: 0 auto;
        padding: 60px 40px 100px 40px;
        max-width: 1680px;
        @include flex(row, flex-start, flex-start, wrap, 100px);
    }

    /*
     Footer partners section
    */
    &__partners {
        flex-basis: 300px;
        @include flex(column, flex-start, flex-start, nowrap, 20px);
    }

    &__partnersTitle {
        margin: 0;
        font-weight: 500;
        line-height: 30px;
        margin: 0 0 20px 0;
        font-size: calc(18px + (22 - 18) * ((100vw - 320px) / (1920 - 320)));
    }

    &__partnersLink {
        color: #000;
        height: 50px;
        font-size: 16px;
        line-height: 24px;
        @include flex(row, center, flex-start, wrap, 10px);

        &:hover {

            .footer__partnersLogo {
                margin: 0 6px 0 0;
                transform: scale(1.1);
            }
        }
    }

    &__partnersLogo {
        width: auto;
        height: 100%;
        object-fit: contain;
        transition: all 0.3s;

        &:hover {
            transform: scale(1.1);
            filter: drop-shadow(4px 4px 10px rgba(33, 150, 243, .3)) drop-shadow(-4px -4px 10px rgba(82, 216, 88, .3));
        }
    }

    &__partnersName {
        transition: all 0.3s;
        
        &:hover {
            text-shadow: 0 4px 10px rgb(0 0 0 / 20%);
        }
    }

    /*
     Footer menu section
    */
    &__menu {
        flex-basis: 300px;
        color: #000;
        font-size: 16px;
        line-height: 24px;
        @include flex(column, flex-start, flex-start, nowrap, 20px);

        a {
            color: #000;
            font-size: 16px;
            line-height: 24px;
            position: relative;
            transition: all 0.3s;
            text-decoration: none;

            &:hover {
                &::after {
                    width: 100%;
                }
            }

            &::after {
                left: 0;
                width: 0;
                content: '';
                height: 2px;
                bottom: -2px;
                position: absolute;
                transition: all 0.3s;
                background-color: $green-color;
            }
        }
    }

    &__menuTitle {
        font-weight: 500;
        line-height: 30px;
        margin: 0 0 20px 0;
        font-size: calc(18px + (22 - 18) * ((100vw - 320px) / (1920 - 320)));
    }

    /*
     Footer copyright section
    */
    &__copyright {
        color: #fff;
        padding: 20px 0;
        background-color: $green-color;
        @include flex(row, center, center, wrap);
    }

    /*
        Media Queries
    */
    @media screen and (max-width: 1024px) {
        &__content {
            gap: 60px;
            padding: 60px 40px;
        }
    }

    @media screen and (max-width: 992px) {
        &__content{
            gap: 0;
            @include flex(row, flex-start, space-between, wrap);
        }
        
        &__partners {
            flex-basis: 48%;
        }
        
        &__menu {
            flex-basis: 48%;
        }
    }

    @media screen and (max-width: 768px) {
        &__content {
            padding: 60px 20px;
        }
    }

    @media screen and (max-width: 600px) {
        &__content {
            @include flex(column, flex-start, flex-start, nowrap, 40px);
        }

        &__partners {
            flex-basis: 100%;
        }

        &__partnersTitle {
            margin: 0;
        }
        
        &__menu {
            flex-basis: 100%;
        }

        &__menuTitle {
            margin: 0;
        }
    }
}