.header {
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
    position: fixed;
    padding: 20px 40px;
    transition: all 0.3s;

    &_scrolling {
        backdrop-filter: blur(20px);
        background-color: rgb(255 255 255 / 70%);
        box-shadow: 0 30px 60px 0 rgb(23 23 23 / 4%);
    }

    &__container {
        width: 100%;
        margin: auto;
        max-width: 1600px;
        position: relative;
        @include flex(row, center, flex-start, wrap);
    }

    .custom-logo-link {
        height: 60px;
        width: 220px;
        display: block;
        transition: all 0.3s;

        &_small {
            height: 50px;
            transition: all 0.3s;
        }
    }

    .custom-logo {
        width: auto;
        height: 100%;
        transition: all 0.3s;
    }

    &__primaryMenu {
        margin: 0 100px 0 auto;
        @include flex(row, center, center, wrap, 60px);

        a {
            color: #000;
            font-size: 16px;
            line-height: 24px;
            position: relative;
            transition: all 0.2s;
            text-decoration: none;

            &:hover {
                padding: 0 0 6px 0;

                &::after {
                    width: 100%;
                }
            }

            &::after {
                content: '';
                width: 0;
                height: 2px;
                left: 0;
                bottom: -2px;
                position: absolute;
                transition: all 0.3s;
                background-color: $green-color;
            }
        }
    }

    &__primaryMenuTitle {
        display: none;
        width: 100%;
        font-size: 22px;
        font-weight: 500;
        line-height: 30px;
        margin: 0 0 20px 0;
        position: relative;
        text-align: center;

        &::after {
            content: '';
            height: 2px;
            width: 200px;
            margin: 0 auto;
            left: 50%;
            top: calc(100% + 20px);
            position: absolute;
            background-color: #efefef;
            transform: translate(-50%, 0);
        }
    }

    &__search {
        display: block;
    }

    &__searchSubmit {
        margin: 0;
        padding: 0;
        border: none;
        cursor: pointer;
        transition: all 0.3s;
        background-color: transparent;
        @include flex(row, center, center, wrap);

        &:hover {
            transform: scale(1.1) rotate(10deg);
        }

        &:active {
            transform: scale(1) rotate(10deg);
        }
    }

    &__searchIcon {
        display: block;
        transition: all 0.3s;
        pointer-events: none;

        &:hover {
            filter: drop-shadow(0px 0px 20px $blue-color);
        }
    }

    &__searchForm {
        margin: 0;
        right: 0;
        width: 400px;
        padding: 30px;
        z-index: 10;
        position: absolute;
        border-radius: 20px;
        top: calc(100% + 20px);
        background-color: #fff;
        box-shadow: 0 30px 60px 0px rgb(24 24 24 / 6%);
        @include flex(column, flex-start, flex-start, wrap, 20px);
        display: none;
    }

    &__searchFormTitle {
        margin: 0;
        font-size: 22px;
        font-weight: 500;
        line-height: 30px;
    }

    &__searchInput {
        width: 100%;
        height: 40px;
        padding: 0 20px;
        font-size: 16px;
        border-radius: 10px;
        transition: all 0.3s;
        border: 2px solid #aaa;
        @include flex(row, center, center, wrap);
    }

    &__searchResults {
        width: 100%;
        overflow: auto;
        font-size: 16px;
        line-height: 22px;
        padding: 0 20px 0 0;
        @include flex(column, stretch, flex-start, nowrap);
        display: none;

        &::-webkit-scrollbar {
            width: 10px;
        }
        
        &::-webkit-scrollbar-track {
            border-radius: 4px;
            background-color: #eee;
        }
        
        &::-webkit-scrollbar-thumb {
            outline: none;
            border-radius: 4px;
            background-color: #ddd;
        }

        &_active {
            max-height: 500px;
        }
    }

    &__searchResultLink {
        padding: 10px 0;
        position: relative;
        color: $blue-color;
        border-radius: 10px;
        transition: all 0.3s;
        @include flex(column, flex-start, flex-start, nowrap);

        &:hover {
            padding: 10px 0 10px 10px;
            
            &:after {
                width: 50px;
            }
        }

        &:after {
            content: "";
            left: 0;
            width: 0;
            height: 2px;
            bottom: -2px;
            position: absolute;
            transition: all .3s;
            background-color: #52d858;
        }
    }

    &__buttonMenu {
        margin: 0;
        padding: 0;
        border: none;
        display: none;
        background-color: transparent;
    }

    /*
        Media Queries
    */
    @media screen and (max-width: 1024px) {

        &__primaryMenu {
            right: 40px;
            margin: 0;
            top: calc(100% + 20px);
            z-index: 10;
            width: 300px;
            padding: 30px;
            position: absolute;
            border-radius: 20px;
            background-color: #fff;
            box-shadow: 0 30px 60px 0px rgb(24 24 24 / 6%);
            @include flex(column, flex-end, center, nowrap, 20px);
            display: none;

            a {

                &:hover {
                    padding: 0;
                }
            }
        }

        &__primaryMenuTitle {
            display: block;
        }

        &__search {
            margin: 0 40px 0 auto;
        }

        &__buttonMenu {
            @include flex(row, center, center, nowrap);
        }

    }

    @media screen and (max-width: 768px) {
        padding: 20px;

        &__primaryMenu {
            right: 20px;
        }

        &__searchForm {
            right: 20px;
        }
    }

    @media screen and (max-width: 600px) {
        &__primaryMenu {
            padding: 20px;
        }

        &__searchForm {
            width: 340px;
            padding: 30px 20px;
        }
    }

    @media screen and (max-width: 450px) {
        .custom-logo-link {
            height: 50px;
            width: 190px;
    
            &_small {
                height: 40px;
            }
        }

        &__search {
            margin: 0 20px 0 auto;
        }

        &__searchForm {
            width: 280px;
            padding: 20px;
        }
    }
}