.homeRegions {
    padding: 100px 40px;
    overflow: hidden;
    position: relative;

    &::before {
        left: 0%;
        top: 16%;
        width: 40%;
        height: 40%;
        z-index: -1;
        content: "";
        display: block;
        position: absolute;
        filter: blur(100px);
        background: rgb( 33 150 243 / 40%);
        border-radius: 62% 47% 82% 35% / 45% 45% 80% 66%;
        // will-change: border-radius, transform, opacity;
        // animation: sliderShape 5s linear infinite;
        // -webkit-animation: sliderShape 10s linear infinite;
    }

    &::after {
        left: 60%;
        width: 40%;
        height: 40%;
        bottom: 16%;
        z-index: -1;
        content: "";
        display: block;
        position: absolute;
        filter: blur(100px);
        background: rgb( 82 216 88 / 40% );
        border-radius: 62% 47% 82% 35% / 45% 45% 80% 66%;
        // will-change: border-radius, transform, opacity;
        // animation: sliderShape 5s linear infinite;
        // -webkit-animation: sliderShape 10s linear infinite;
    }

    &__list {
        width: 100%;
        margin: 0 auto;
        max-width: 1600px;
        @include flex(row, stretch, space-between, wrap, 80px 0);
    }

    &__region {
        flex-basis: 17%;
        color: #000;
        line-height: 22px;
        position: relative;
        text-align: center;
        border-radius: 20px;
        text-decoration: none;
        background-position: 0 0;
        padding: 80px 20px 20px 20px;
        box-shadow: 0px 10px 40px -10px rgb(0 0 0 / 10%);
        transition: box-shadow 0.3s, background-position 0.3s, transform 0.6s;
        background: linear-gradient(135deg, #fff 50%, rgba(82, 216, 88, .4));
        background-size: 300%;

        &:hover {
            transform: translate(0, -10px);
            background-position: 50% 50%;
            box-shadow: 0px 10px 30px -10px rgba(82, 216, 88, .4);

            .homeRegions__regionImage {
                top: -40px;
            }

            .homeRegions__regionIconLink {
                transform: rotate(-10deg) translate(0, -6px);
            }
        }

        &:active {
            transition: all 0.2s;
            transform: translate(0, 0);
        }
    }

    &__regionImage {
        left: 0;
        right: 0;
        top: -30px;
        margin: auto;
        height: 100px;
        width: auto;
        display: block;
        position: absolute;
        transition: all 0.3s;
        filter: drop-shadow(0 10px 20px rgb(0 0 0 / 10%));
    }

    &__regionIconLink {
        width: auto;
        height: 14px;
        transition: all 0.3s;
    }

    &__regionName {
        transition: all 0.3s;
        text-shadow: 0 4px 10px rgb(0 0 0 / 20%);
    }


    /*
        Media Queries
    */
    @media screen and (max-width: 1600px) {
        &__region {
            flex-basis: 21%;
            padding: 90px 20px 20px 20px;
        }

        &__regionName {
            margin: 6px 0 0 0;
        }
    }

    @media screen and (max-width: 1440px) {
        &__region {
            min-width: 255px;
            flex-basis: 23%;
        }
    }

    @media screen and (max-width: 1200px) {
        &__region {
            flex-basis: 30%;
        }
    }

    @media screen and (max-width: 1024px) {
        padding: 60px 40px;
    }

    @media screen and (max-width: 992px) {
        &::before {
            top: 4%;
            width: 80%;
            height: 50%;
        }

        &::after {
            width: 80%;
            bottom: 4%;
            height: 50%;
        }

        &__region {
            min-width: unset;
        }
    }

    @media screen and (max-width: 768px) {
        padding: 60px 20px;

        &__region {
            flex-basis: 46%;
        }
    }

    @media screen and (max-width: 600px) {
        &__region {
            flex-basis: 48%;
        }
    }

    @media screen and (max-width: 450px) {
        &__list {
            @include flex(row, stretch, center, wrap, 60px 0);
        }

        &__region {
            flex-basis: 100%;
            max-width: 300px;
        }
    }
}

// @keyframes sliderShape{
//     0%, 100% {
//         border-radius: 42% 58% 70% 30% / 45% 45% 55% 55%;
//         transform: translate3d(0,0,0) rotateZ(0.01deg);
//     }

//     34% {
//         border-radius: 70% 30% 46% 54% / 30% 29% 71% 70%;
//         transform:  translate3d(0,5px,0) rotateZ(0.01deg);
//     }

//     50% {
//         transform: translate3d(0,0,0) rotateZ(0.01deg);
//     }

//     67% {
//         border-radius: 100% 60% 60% 100% / 100% 100% 60% 60% ;
//         transform: translate3d(0,-3px,0) rotateZ(0.01deg);
//     }
// }
