.homeRegions {
    padding: 100px 0;
    overflow: hidden;
    position: relative;

    &::before {
        left: 0%;
        top: 10%;
        width: 40%;
        height: 40%;
        z-index: -1;
        content: "";
        display: block;
        position: absolute;
        filter: blur(100px);
        background: rgb( 33 150 243 / 40%);
        border-radius: 62% 47% 82% 35% / 45% 45% 80% 66%;
        will-change: border-radius, transform, opacity;
        animation: sliderShape 5s linear infinite;
        -webkit-animation: sliderShape 10s linear infinite;
    }

    &::after {
        left: 60%;
        width: 40%;
        height: 40%;
        bottom: 10%;
        z-index: -1;
        content: "";
        display: block;
        position: absolute;
        filter: blur(100px);
        background: rgb( 82 216 88 / 40% );
        border-radius: 62% 47% 82% 35% / 45% 45% 80% 66%;
        will-change: border-radius, transform, opacity;
        animation: sliderShape 5s linear infinite;
        -webkit-animation: sliderShape 10s linear infinite;
    }

    &__list {
        width: 100%;
        margin: 0 auto;
        max-width: 1600px;
        @include flex(row, flex-start, space-between, wrap, 80px 0);
    }

    &__region {
        flex-basis: 17%;
        color: #000;
        line-height: 22px;
        position: relative;
        text-align: center;
        border-radius: 20px;
        transition: all 0.3s;
        text-decoration: none;
        background-position: 0 0;
        padding: 100px 20px 20px 20px;
        background: linear-gradient(135deg, #fff 50%, $green-color);
        box-shadow: 0px 10px 40px -10px rgb(0 0 0 / 10%);
        background-size: 300%;

        &:hover {
            background-position: 50% 50%;
            box-shadow: 10px 10px 30px -10px rgb(82 216 89 / 50%);
            -webkit-box-shadow: 10px 10px 30px -10px rgb(82 216 89 / 50%);

            .homeRegions__regionImage {
                top: -40px;
            }
        }
    }

    &__regionImage {
        left: 0;
        right: 0;
        top: -30px;
        margin: auto;
        height: 100px;
        width: auto;
        display: block;
        position: absolute;
        transition: all 0.3s;
        filter: drop-shadow(0 10px 20px rgb(0 0 0 / 10%));
    }

    &__regionName {
        transition: all 0.3s;
        text-shadow: 0 4px 10px rgb(0 0 0 / 20%);
    }

}

@keyframes sliderShape{
    0%, 100% {
        border-radius: 42% 58% 70% 30% / 45% 45% 55% 55%;
        transform: translate3d(0,0,0) rotateZ(0.01deg);
    }

    34% {
        border-radius: 70% 30% 46% 54% / 30% 29% 71% 70%;
        transform:  translate3d(0,5px,0) rotateZ(0.01deg);
    }

    50% {
        transform: translate3d(0,0,0) rotateZ(0.01deg);
    }

    67% {
        border-radius: 100% 60% 60% 100% / 100% 100% 60% 60% ;
        transform: translate3d(0,-3px,0) rotateZ(0.01deg);
    }
}
